.cabecera {
    text-align: center;
    background-image: url(../img/header.jpg);
    background-size:cover;
    background-attachment: fixed;
    height:600px;
    width: 100%;
    margin: 0px;
   

}

.proyecto {
    text-align: center;
}