* {
    box-sizing: border-box;
}


body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}

.row:after {
    content: "";
    display:flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
}


.cabecera {
    text-align: center;
    background-image: url(../img/header.jpg);
    background-size:cover;
    height:100vh;
    width: 100%;
    
}

.proyecto {
    text-align: center;
    font-size: 25px;
}

.parrafo{
    margin: 0;
    
}

.column3 {
    width: 33%;
    float: left;
    padding: 6%;
}

.column2 {
    width: 50%;
    float: left;
}

.imagen {
    height: 300px;
}

.azul {
    text-align: center;
    font-size: 30px ;
}

.azul2 {
    text-align: center;
    font-size: 20px;
}

.especial {
    background-color: aqua;
    padding: 1%;
    color: white;
}

.abajo {
    padding-left: 10%;

}

.titulito {
    font-size: 30px;
}

.gris {
    color: gray;
}

.mapa {
    width: 80%;
}

.raro {
    padding-left: 10%;
    padding-top: 2%;

}

.negro {
    background-color: rgba(0, 0, 0, 0.473);
   
}

.column20 {
    width: 20%;
    float: left;
    

}

.blanco {
    color: white;
}