* {
    box-sizing: border-box;
}


body {
    margin: 0%;
    
}

.row:after {
    content: "";
    display:flex;
    clear: both;
}


.cabecera {
    text-align: center;
    background-image: url(../img/header.jpg);
    background-size:cover;
    height:100vh;
    width: 100%;
    
}

.proyecto {
    text-align: center;
}

.parrafo{
    margin: 0;
}

.column3 {
    width: 33%;
    float: left;
}

.imagen {
    height: 300px;
}